<!-- <h1>titile</h1>

<div class="col-sm-4 offset-sm-4">
<mat-card>
<form [formGroup]="UserForm" (ngSubmit)="saveData()">
    <i style="font-size:24px" class="fa">&#xf2be;</i><input type="text" class="form-control" placeholder="name" formControlName="name">
    <i style="font-size:24px" class="fa">&#xf0e0;</i> <input type="text" class="form-control" placeholder="email" formControlName="email">
        <i style="font-size:24px" class="fa">&#xf023;</i> <input type="password" class="form-control" placeholder="password" formControlName="password"><br>
 <button type="submit" [disabled]="!UserForm.valid" class="btn btn-primary"> Submit </button>

</form>
</mat-card>
</div> -->
