
<body>
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                    <h4 class="about animated bounceInLeft">ABOUT US</h4>
                       <p class="p1 animated bounceInRight">
                            RDC Solution is proud to announce the best placed presentations to tackle all the
                            problems related to PhD registration in the world of research and development.
                            Now easily accessible and remarkable presentations to all research students who
                            seek to improve and excel in their respective subject and have a passion for
                            preparing for research interviews and research communications.
                       </p>
                       <h4  class="about animated bounceInLeft" >VISSION AND MISSION</h4>
                       <h5>
                            <b>
                                   ‘PREPARING THE NEXT GENERATION OF RESEARCHERS’

                            </b>
                       </h5>
                       <p class="p2 animated bounceInRight">
                              The vision of the RDC Solution is to become a leading hub for innovative and interdisciplinary Research that transforms through knowledge and scientific discoveries by pre approved presentations and proposals.


                       </p>
                </div>
 </div>        