
<section class="home_banner_area">
  
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" >

    <mdb-carousel-item >
      
      <div class="view w-100">
          <div >
        <img class="d-block w-100 overlay" src="./assets/image/research1.png" height="500px" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive animated bounceInLeft">It's time to upload your research presentation online</h2>
        
     
      </div>
    </div>
    </mdb-carousel-item>

   
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 overlay" src="./assets/image/ai.jpg"  height="500px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive animated bounceInLeft" style="color:white">Promote Your Work More Widely and Help Young Researchers Do Their Research</h2>
       
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item >
        <div class="view w-100">
          <img class="d-block w-100 overlay" src="./assets/image/digitalhealth.jpg"  height="500px" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
          <h2 class="h3-responsive animated bounceInLeft">Search and Research Presentation Online</h2>
         
        </div>
      </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 overlay" src="./assets/image/network.jpg"  height="500px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive animated bounceInLeft">Increase The Visibility and Discoverability of Your Work</h2>
        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>

      <div class="view w-100">
        <div id="image">
        <img class="d-block w-100 overlay" src="./assets/image/ml.jpg" height="500px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="row">
      <div class="carousel-caption col-sm-4">
        <h2 class="h3-responsive robotics animated bounceInLeft">Monitor How Your Presentation Performing</h2>
      </div>
    </div>
      </div>
    </mdb-carousel-item>

    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 overlay" src="./assets/image/cloud.jpg" height="500px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive animated bounceInLeft">Reach The Highest Standard With RDC Solution </h2>
        
      </div>
    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="./assets/image/7.jpg" height="580px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive">Ensure That Your Work Is Written In Correct English Before Presentation </h2>
       
      </div>
    </mdb-carousel-item> -->
   
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100 overlay" src="./assets/image/neural.jpg" height="500px" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h2 class="h3-responsive animated bounceInLeft">Commemorate Success With RDC Solution  </h2>
       
      </div>
    </mdb-carousel-item>
</mdb-carousel>

</section>
  