





    <div class="row" >
        <div class="col-sm-10 offset-sm-1"  >
             
            
            <h4 class="about animated bounceInLeft" >WHY US?</h4>

            
                    
            <div class="about animated bounceInRight text-center">
                    <h5 class="text-center"><b>“Well-Read Is Well-Prepared”</b>
                    </h5>
                   
                    <p>
                            For achieving distinction in research, we have reputed Journals, national and International Conferences etc. to publish new research papers. We have various publishers to help young researchers to publish their Thesis. </p>
                           <p> Academic research is highly demanding and intricate. The researchers are under high stress in getting their proposals approved. RDC Solution is providing support to new researchers for preparing their research proposal and presentations with a wide range of products and services available with it.</p>
                           <p class="text-center"> During Research Your Papers…  are be Published in journals</p>
                           <p class="text-center"> Your Thesis…are be Published in the form of book</p>
                           
                           <ul>
                               <li>
                                    What about Research Proposals ?
                               </li>
                               <li>
                                    What about Final Viva Presentation? 
                               </li>
                               <li>
                                    Its time to help young researchers…
                               </li>
                               <li>
                                    Let them do their work on their own
                               </li>
                           </ul>
                           
                                   
                               
                       
                        
                           
                           <h4><b>THE FACE OF LEARNING IS SHIFTING</b></h4>
                           <img class="logoimg" src="assets/image/heuto.jpeg">
                          
                            
                            

            </div>
            
        </div>
          
            
   
    </div>
