<div class="row">
    <div class="col-sm-3 offset-sm-2">

<div class="provisional">
<mat-card class="example-card">
    <mat-card-header>
    <h4 class="text-center" style="position: relative;bottom:30px;"><b>PROVISIONAL</b></h4>
      
    </mat-card-header>
    <img mat-card-image src="assets/image/prov.jpg" alt="Photo of a provisional">
    <mat-card-content>
      <p>Research Area</p>
      <P>price : $0</P>
    </mat-card-content>
    <mat-card-actions>
     <button class="btn btn-primary" style="width:100%" (click)="openDialog()" routerLink="./provisional">View Now</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

<div class="col-sm-3 offset-sm-2">
<div class="presentation">
        <mat-card class="example-card">
                <mat-card-header>
                 <h4 class="text-center" style="position: relative;bottom:30px;" routerLink="./presentation"><b>PRESENTATION</b></h4>
                  
                </mat-card-header>
                <img mat-card-image src="assets/image/presentation.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                   <p>Research Area</p>
                   <P>price : $0</P>
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn btn-primary" style="width:100%" (click)="openDialog()">View Now</button>
                </mat-card-actions>
              </mat-card>

</div>
</div>
</div>
  
