<html>
    <body>
        <div class="row">
            
                <div class="col-sm-10 offset-sm-1">
                    
                    <img src="assets/image/contact.jpg">
                        
                   

                    <div class="row">
                    
                    <div class="col-sm-4 offset-sm-1">
                            <h4  class="animated bounceInLeft">RESEARCH DEVELOPMENT COMMITTEE SOLUTION</h4>
                       <p class="animated bounceInRight" >198D/5-1
                            , Panki Road
                        </p>
                       <p class="animated bounceInLeft">Kanpur, Uttar Pradesh - 208020</p>
                       <h4 class="animated bounceInRight">Contact No:09990715153</h4>
                       <h6 class="animated bounceInLeft">Email id:rdcsolution123@gmail.com</h6>
                       
                    </div>
  

                <div class="col-sm-4 offset-sm-1">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3549.0819819553394!2d77.97660701452666!3d27.185160004853504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sUttar%20Pradesh%20%20Agra%20E-95%20Pratap%20Nagar!5e0!3m2!1sen!2sin!4v1569651221747!5m2!1sen!2sin" width="600" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
                  
                    <hr>
                    Quick Query
                   <div class="col-sm-8 offset-sm-1">
                        <form [formGroup]="UserForm" (ngSubmit)="saveData()" class="example-form">
                         
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="full name" formControlName="name">
                              </mat-form-field>
                               
                                        <mat-form-field class="example-full-width">
                                                <input matInput placeholder="email" formControlName="email">
                                              </mat-form-field>
                                
                             

                                        <mat-form-field class="example-full-width">
                                                <textarea matInput placeholder="Leave a comment" formControlName="message"></textarea>
                                              </mat-form-field><br>
                                           
                                            
                                                    <button class="btn btn-primary">Submit</button>
                                             
                               
                           
                               
                                
                                
                              </form>
                       

                   </div>
            </div>
        </div>
    </body>
</html>
