

 <!-- <nav class="navbar navbar-expand-md navbar-light">
    <a href="#" class="navbar-brand">
      
        <img src="assets/image/logo1.png" >
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" >
            <a routerLink="./home" style="height:50px" class="nav-item nav-link active"><b>HOME</b></a>
            <a routerLink="./aboutus"  class="nav-item nav-link"><b>ABOUT US</b></a>
            <a href="#" routerLink="./whyus"  class="nav-item nav-link"><b>WHY US</b></a>
            <a href="#" routerLink="./partner"  class="nav-item nav-link"><b>PARTNER WITH US</b></a>
            <a href="#"  routerLink="order" class="nav-item nav-link" (click)="openDialog()"><b>Archi
                
            </b></a>
            <a href="#"  routerLink="./contact"  class="nav-item nav-link"><b>CONTACT US</b></a>
          
        </div>
        
    </div>
  </nav>  -->


  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="#"> <img src="assets/image/logo1.png" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       <li><a routerLink="./home" style="height:50px" class="nav-item nav-link active"><b>HOME</b></a></li> 
       <li> <a routerLink="./aboutus"  class="nav-item nav-link"><b>ABOUT US</b></a></li>
      <li> <a href="#" routerLink="./whyus"  class="nav-item nav-link"><b>WHY US</b></a></li> 
      <li> <a href="#" routerLink="./partner"  class="nav-item nav-link"><b>PARTNER WITH US</b></a></li> 
      <li>  <a href="#"  routerLink="./thesis" class="nav-item nav-link"><b>ARCHIVES
            
        </b></a></li>
        <li>  <a href="#"  routerLink="./constraints" class="nav-item nav-link"><b>CONSTRAINTS
            
        </b></a></li>
        <li>  <a   class="nav-item nav-link" (click)="opendialog()"><b>JOIN US
            
          </b></a></li>
          <li>  <a href="#"  routerLink="./blogs" class="nav-item nav-link"  (click)="opendialog2()"><b>BLOGS
            
          </b></a></li>
     <li>  <a href="#"  routerLink="./contact"  class="nav-item nav-link"><b>CONTACT US</b></a></li> 
      
         
      </ul>
    </div>
  </nav>

  <!-- Footer -->


      